<h1>List of current messages:</h1>

<table>
	
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>Created when?</th>
    <th>Uploaded by?</th>
  </tr>

<% @messages.each do |message| %>

<tr>
      <td><%= message.title %></td>
      <td><%= message.description %></td>
      <td><%= image_tag message.image.url(:thumb), class:'uploaded-pic' %></td>
      <td><%= time_ago_in_words(message.created_at) %> ago</td>
      <td><%= message.user.email %>
      <td><%= link_to 'Delete', message_path(message), method: :delete %></td>
</tr>

<% end %>

</table>

<br>
<%= link_to "New message", new_message_path %>
<%= link_to "Global messages", group_messages_path %>

