<h1>List of current messages:</h1>

<%= form_tag(messages_path, method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<table class='messages'>
	
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>Created when?</th>
    <th>Uploaded by?</th>
    <th>Show tags</th>
    <th>Remove Image</th>
  </tr>

<% @messages.each do |message| %>

<tr class='message'>
      <td class='title'><%= message.title %></td>
      <td><%= message.description %></td>
      <td><%= image_tag message.image.url(:thumb), class:'uploaded-pic' %></td>
      <td><%= time_ago_in_words(message.created_at) %> ago</td>
      <td><%= message.user.email if message.user %></td>
      <td><% message.tags.each do |tag| %>
        <%= link_to tag.description, tag %> </td>
      <% end %>
      <td><%= link_to 'Delete', message_path(message), method: :delete %></td>
</tr>

<% end %>

</table>

<br>
<%= link_to "New message", new_message_path %>
<%= link_to "Global messages", group_messages_path %>
<%= link_to "Tag options", tags_path %>
<%= link_to "Add tag", new_tag_path %>

