
<%= form_for @message, :html => { :multipart => true } do |f| %>

  <p>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :tag_names, "Tags" %><br>
    <%= f.text_area :tag_names %>
  </p>
    
  <p>
    <%= f.submit %>
  </p>
  
<% end %>