<h1><%= @tag.description %></h1>

<table>
<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>Created when?</th>
</tr>

<% @tag.messages.each do |message| %>

<tr>
      <td><%= message.title %></td>
      <td><%= message.description %></td>
      <td><%= image_tag message.image.url(:thumb), class:'uploaded-pic' %></td>
      <td><%= time_ago_in_words(message.created_at) %> ago</td>
</tr>

<% end %>

</table>

<%= link_to "Back to your index", messages_path %>